/*Header start*/
.flex {
	display: flex;
}
.blue {
	color: #3D58A6;
}
.align {
		align-items: center;
}
.container{
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	padding: 20px 0;
}
.logo {
	width: 100px;
}
.right-block {
	width: 100%;
}
.navigation {
	margin: auto;
	font-size: 24px;
}
.navigation a {
	text-decoration: none;
	margin: auto 25px;
	text-transform: uppercase;
	font-family: "roboto"
}
.social {
	font-size: 24px;
}
.line {
	margin: auto 25px;
}
.search {
	color: #EE4036;
}
.News {
	color: #7E91C1;
}
/*header end*/
/*news block*/
.news-box {
	background-color: #BDCCD4;
	padding-top: 90px;
	padding-bottom: 45px;
}
.news-block {
	width: 100%;
	justify-content: space-around;
}
article h1 {
	padding-left: 14px;
	text-transform: uppercase;
	line-height: 60px;
	background-color: white;
	font-size: 22px;
	font-family: "roboto"

}
article img {
	display: block;
}
.news-wrapper {
	flex-direction: column;
}
.block2 {
	padding-bottom: 45px;
	padding-top: 35px;
}

.more {
	background-color: #83939B;
	line-height: 60px;
	width: 135px;
	text-align: center;
	text-transform:uppercase;

}
.more a {
	text-decoration: none;
	font-size:18px;
	color:white;
}
/*news block end*/
/*video start*/
.video-wrapper {
	background-color: #363E97;
	padding-top: 37px;
	padding-bottom: 80px;
}
.video-text h1 {
	font-size: 24px;
	color: white;
	position: absolute;
	left: 
}
.vid {
	text-transform: uppercase;
}
.video-text a {
	text-decoration: none;
	color: white;
}
.video-text {
	flex-direction: column;
}
.videos {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.video {
	width: 570px;
	height: 320px;
	background-color: white;
	margin-top: 35px;
}
